* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', cursive;

}
.animate__animated{
    --animate-duration: 1500ms;
}
img {
    max-width: 100%;
}
.filter{
    background: url("../images/unnamed_1.jpg") no-repeat fixed center/cover;
}
.filter-sec{
    background:url("https://images.unsplash.com/photo-1569650809977-547b547ba450?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80") no-repeat fixed center/cover;
}
.hero {
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(38,105,254,1) 17%, rgba(7,65,191,1) 65%, rgba(6,64,189,1) 100%);
    position: relative;

    &__title {
        padding-top: 20%;
        font-size: 130px;
        color: white;
        font-family: 'Varela Round', sans-serif;
        font-weight: 700;
        
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 60px;
        z-index: 0;
        transition: .3s;
    }
    &__item {
        background-color: #eaf1fb;
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: 0;
        &_title {
            color: blue;
            text-align: right;
            font-size: 40px;
        }
    }
    &__menu {  
        margin-top: 50px;
        margin-bottom: 30px;
        &_list {
            padding: 15px 40px;
            background-color: #2063f2;
            color: white;
            font-weight: 500;
            transition: .6s;
        }
        &_list:not(:last-child) {
            margin-right: 15px;
        }
        &_list:hover {
            background-color: white;
            color: #2063f2;
            text-decoration: none;
            border: 1px solid #2063f2;
        }
    }
    &__social {
        padding: 15px 0 20px;
        p {
            display: inline-block;
            font-weight: 700;
            margin-right: 10px;
        }
    }
}
.about {
    position: relative;
    z-index: 50;
    padding: 100px 0;
    &__item {
        margin-right: -30px;
        border: 13px solid #eaf1fb;
        border-right: none;
        padding: 25px 50px 25px 25px;
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
    }
    &__desc {
        font-size: 17px;
    }
}
.biography {
    padding: 50px 0;
    &__desc {
        font-size: 19px;
        color: white;
        font-weight: 500;
        box-shadow: 0 0 0 1px white;
        padding: 20px;
        background:rgba(0,0,0,0.4);
    }
}
.quote {
    background-blend-mode: darken;
    background: rgba(0,0,0,0.1) url(https://images.unsplash.com/photo-1465220183275-1faa863377e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80) no-repeat fixed center/cover;
    color: white;
    padding: 50px 0 40px;
    &__title {
        padding-bottom: 20px;
        font-size: 70px;
    }
    &__desc {
        font-size: 25px;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 20px;
    }
    &__subhead {
        padding: 40px 0;
        font-size: 40px;
    }
}
.contacts {
    background: #eaf1fb;
    display: flex;
    position: relative;
    &__item {
    }

    &__title {
        font-weight: 700;
        margin: 60px 0 30px;
    }

    &__phone {
        margin-bottom: 25px;
    }

    &__address {
    }
    &__social {
        margin-top: 20px;
        padding-bottom: 50px;
        p {
            display: inline-block;
            font-weight: 700;
            margin-right: 10px;
        }
    }
}
.gallery {
    padding: 60px 0 30px;
    &__title {
        padding-bottom: 30px;
    }

    &__video {
        margin-bottom: 20px;
    }
}
.footer {
    background: #eaf1fb;
    padding: 5px 0;
    p {
        margin-bottom: 0;
    }
}